<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<!-- We have commented our some definitions below. This is a temporary workaround.
     Jetty currently does not support JSR-181 which allows defining POJO WebServices
     as Servlets. As the DayTrader application uses JSR-181, in order to demonstrate
     in-place web development with Jetty we had to provide a modified web.xml with
     commented-out sections. We've also commented out sections which lead to errors
     in the console; the errors are because the DayTrader webapp calls EJBs at startup
     and as we haven't set up the EJB server for the in-place web development section
     those calls error out. -->

      <display-name>MerchantWeb</display-name>
      <session-config id="SessionConfig_1">
         <session-timeout>30</session-timeout>
      </session-config>
      <welcome-file-list id="WelcomeFileList_1">
         <welcome-file>index.html</welcome-file>
      </welcome-file-list>
      <error-page id="ExceptionTypeErrorPage_1">
         <exception-type>java.lang.Exception</exception-type>
         <location>/cbxExceptionHandler.action</location>
      </error-page>
      <error-page id="ErrorCodeErrorPage_1">
         <error-code>404</error-code>
         <location>/cbxExceptionHandler.action</location>
      </error-page>
      <error-page id="ErrorCodeErrorPage_2">
         <error-code>500</error-code>
         <location>/cbxExceptionHandler.action</location>
      </error-page>
</web-app>
