<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>UserFileter</filter-name>
		<filter-class>com.icss.filter.UserFileter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>UserFileter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>LoginSvl</servlet-name>
		<servlet-class>com.icss.control.LoginSvl</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ViewQuestionSvl</servlet-name>
		<servlet-class>com.icss.control.ViewQuestionSvl</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PlanCourseSvl</servlet-name>
		<servlet-class>com.icss.control.PlanCourseSvl</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>LoginSvl</servlet-name>
		<url-pattern>/LoginSvl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewQuestionSvl</servlet-name>
		<url-pattern>/user/ViewQuestionSvl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlanCourseSvl</servlet-name>
		<url-pattern>/user/PlanCourseSvl</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>